body {
    margin: 0;
    padding: 0;
}

.welcome {
    background-color: #f2f2f2;
    padding: 100px;
    text-align: center;
    font-family: Garamond;
}

.welcome h1 {
    font-size: 45px;
    color: #333;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 19px;
    color: #666;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

.hamstergrooming {
    transition: 0.3s ease;
    font-family: Garamond;
    font-size: 19px;
    text-align: center;
    font-family: Garamond;
    background-color: #e1e1e1;
    color: #333;
}

.hamstergrooming h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.hamstergrooming h2 {
    font-size: 27px;
}

.hamstergrooming:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hamsterboarding {
    transition: 0.3s ease;
    font-family: Garamond;
    font-size: 19px;
    text-align: center;
    font-family: Garamond;
    background-color: #e1e1e1;
    color: #333;
}

.hamsterboarding h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.hamsterboarding h2 {
    font-size: 27px;
}

.hamsterboarding:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hamsterhabitatsetup {
    transition: 0.3s ease;
    font-family: Garamond;
    font-size: 19px;
    text-align: center;
    font-family: Garamond;
    background-color: #f2f2f2;
    color: #333;
}

.hamsterhabitatsetup h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.hamsterhabitatsetup h2 {
    font-size: 27px;
}

.hamsterhabitatsetup:hover {
    opacity: 0.7;
    cursor: pointer;
}

.ene {
    transition: 0.3s ease;
    font-family: Garamond;
    font-size: 19px;
    text-align: center;
    font-family: Garamond;
    background-color: #e1e1e1;
    color: #333;
}

.ene h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.ene h2 {
    font-size: 27px;
}

.ene:hover {
    opacity: 0.7;
    cursor: pointer;
}

.healthcare {
    transition: 0.3s ease;
    font-family: Garamond;
    font-size: 19px;
    text-align: center;
    font-family: Garamond;
    background-color: #f2f2f2;
    color: #333;
}

.healthcare h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.healthcare h2 {
    font-size: 27px;
}

.healthcare:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hamsteradoption {
    transition: 0.3s ease;
    font-family: Garamond;
    font-size: 19px;
    text-align: center;
    font-family: Garamond;
    background-color: #e1e1e1;
    color: #333;
}

.hamsteradoption h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.hamsteradoption h2 {
    font-size: 27px;
}

.hamsteradoption:hover {
    opacity: 0.7;
    cursor: pointer;
}

.reviews {
    background-color: #f2f2f2;
    padding: 100px;
    text-align: center;
    font-family: Garamond;
}

.reviews h1 {
    font-size: 45px;
    color: crimson;
    margin-bottom: 20px;
}

.reviews p {
    font-size: 19px;
    color: black;
    margin-bottom: 20px;
}

.reviews p2 {
    font-size: 19px;
    color: brown;
    margin-bottom: 20px;
}